.App {
  text-align: center;
  width: 100%;
  overflow: auto;
}

.App-header {
  background-image: url(https://s3.amazonaws.com/minionreach/BananaCraze.png);
  background-repeat: round;
  background-size: 250px;
  min-width: 1000px;
  height: 180px;
  overflow-x: auto;
  padding: 20px;
  border: 10px solid #0073b1;
}

.App-header a {
  text-decoration: none;
}

.App-header a:hover {
  color: #054263;
}