body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #0073b1;
}

ul {
  margin: 0;
  padding: 0;
}

/* ================ Navigation ================ */
.minion {
  font-family: 'Luckiest Guy', cursive;
  font-size: 5vw;
  color: #0073b1;
}

.reach {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: .2rem;
  font-size: 5vw;
  color: #0073b1;
}

.navi a {
  padding: 0 2% 2% 2%;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 1.5vw;
  color: #0073b1;
}

/* ================ Intro Container ================ */
.intro-container {
  padding-top: 20px;
  font-family: 'Love Ya Like A Sister', cursive;
}

.intro img {
  width: 50%;
  height: 50%;
}

.start {
  font-size: 1.5vw;
  padding: 1.5% 5%;
  margin: 3% 0 2% 0;
}

.level {
  width: 100px;
  margin: 2% 2% 5% 2%;
}

/* ================ Game Container ================ */
.game-container {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  padding: 0 5%;
}

.game {
  float: left;
  width: 70%;
  height: 75vh;
  padding: 5%;
  font-family: 'VT323', monospace;
  font-size: 2rem;
}

.directions {
  font-size: 1.25rem;
  width: 568px;
  margin: 0 auto;
}

.game-board {
  border: 10px solid grey;
  background-color: rgb(226, 226, 226);
  align-content: center;
  width: 566px;
  margin: 0 auto;
}

.game-guess {
  font-size: 1.5em;
}

.lives-left {
  text-align: right;
  padding-right: 2%;
}

.passcode {
  
}

.passcode-miss{
  color: red;
  text-decoration: underline;
}

.keyboard {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  list-style: none;
}

.keyboard li {
  padding: 1px;
}

.keyboard button {
  width: 2.5rem;
  height: 3rem;
  font-size: 2rem;
}

.btn-primary {
  background-color: #0073b1;
}

/* ================ Minions Container ================ */

.minions-container {
  background-image: url(./images/BananaTree.jpg);
  background-repeat: no-repeat;
  background-size: 270px 470px;
  background-position: bottom;
  float: left;
  width: 20%;
  min-width: 270px;
  height: 550px;
  padding: 5%;
  position: relative;
}

.minions img {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.minion1 {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
}

.minion2 {
  width: 45px;
  height: 60px;
  position: absolute;
  bottom: 58px;
  transform: rotate(-10deg);
}

.minion3 {
  width: 54px;
  height: 61px;
  position: absolute;
  bottom: 115px;
  transform: rotate(12deg)
}

.minion4 {
  width: 50px;
  height: 65px;
  position: absolute;
  bottom: 170px;
  transform: rotate(-8deg)
}

.minion5 {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 224px;
}

.minion6 {
  width: 66px;
  height: 75px;
  position: absolute;
  bottom: 290px;
  transform: rotate(12deg)
}

/* ================ Modal ================ */
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(234, 236, 69, 0.7);
  z-index: 100;
  position: fixed;
}

.modal-content {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 2%;
  top: 27%;
  transform: translateY(-50%);
  width: 65%;
  max-width: 700px;
  height: 50%;
  background-color: white;
  border: 5px solid #0073b1;
  font-family: 'VT323', monospace;
  font-size: 1.25rem;
}

.btn-close {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  right: 10px;
  color: #cbcbcb;
  cursor: pointer;
  font-size: 2rem;
}

.replay {
  padding: 1% 7%;
}

.mission-state {
  font-size: 3rem;
  color: #0073b1;
}

.game-won {
  color: #054263;
  text-decoration: underline;
}

.game-lost {
  color: red;
  text-decoration: underline;
}

.game-over-img {
  width: 50%;
  height: 50%;
}