body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #0073b1;
}

ul {
  margin: 0;
  padding: 0;
}

/* ================ Navigation ================ */
.minion {
  font-family: 'Luckiest Guy', cursive;
  font-size: 5vw;
  color: #0073b1;
}

.reach {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: .2rem;
  font-size: 5vw;
  color: #0073b1;
}

.navi a {
  padding: 0 2% 2% 2%;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 1.5vw;
  color: #0073b1;
}

/* ================ Intro Container ================ */
.intro-container {
  padding-top: 20px;
  font-family: 'Love Ya Like A Sister', cursive;
}

.intro img {
  width: 50%;
  height: 50%;
}

.start {
  font-size: 1.5vw;
  padding: 1.5% 5%;
  margin: 3% 0 2% 0;
}

.level {
  width: 100px;
  margin: 2% 2% 5% 2%;
}

/* ================ Game Container ================ */
.game {
  float: left;
  width: 73.5vw;
  height: 75vh;
  padding: 5% 10%;
  font-family: 'VT323', monospace;
  font-size: 2rem;
}

.directions {
  font-size: 1.25rem;
}

.game-board {
  border: 10px solid grey;
  background-color: lightgray;
  align-content: center;
}

.game-guess {
  font-size: 1.5em;
}

.lives-left {
  text-align: right;
  padding-right: 2%;
}

.passcode {
  
}

.passcode-miss{
  color: red;
  text-decoration: underline;
}

.keyboard {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  list-style: none;
}

.keyboard li {
  padding: 1px;
}

.keyboard button {
  width: 2.5rem;
  height: 3rem;
  font-size: 2rem;
}

.btn-primary {
  background-color: #0073b1;
}

/* ================ Minions Container ================ */

.minions-container {
  background-image: url(./images/BananaTree.jpg);
  background-repeat: no-repeat;
  background-size: 83%;
  background-position: bottom;
  float: left;
  width: 25vw;
  height: 75vh;
  padding: 10%;
}

.minions img {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.minion1 {
  width: 5vw;
  height: 7vh;
  position: absolute;
  bottom: 2vh;
}

.minion2 {
  width: 4.25vw;
  height: 7.5vh;
  position: absolute;
  bottom: 8.7vh;
  transform: rotate(-11deg);
}

.minion3 {
  width: 5.2vw;
  height: 7.5vh;
  position: absolute;
  bottom: 15.75vh;
  transform: rotate(14deg)
}

.minion4 {
  width: 4.75vw;
  height: 8vh;
  position: absolute;
  bottom: 22.5vh;
  transform: rotate(-7deg)
}

.minion5 {
  width: 6.5vw;
  height: 9.5vh;
  position: absolute;
  bottom: 29.5vh;
}

.minion6 {
  width: 6.25vw;
  height: 12vh;
  position: absolute;
  bottom: 39.5vh;
  /* transform: rotate(38deg) */
}

/* ================ Modal ================ */
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(234, 236, 69, 0.7);
  z-index: 100;
  position: fixed;
}

.modal-content {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 27%;
  transform: translateY(-50%);
  width: 65%;
  height: 50%;
  background-color: white;
  border: 5px solid #0073b1;
  font-family: 'VT323', monospace;
}

.btn-close {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  right: 10px;
  color: #cbcbcb;
  cursor: pointer;
  font-size: 2rem;
}

.mission-state {
  font-size: 3rem;
  color: #0073b1;
}

.game-won {
  color: #054263;
}

.game-lost {
  color: red;
}

.game-over-img {
  width: 50%;
  height: 50%;
}